
.header{

    position: fixed;
    z-index: 10;
    background-color: $color_1;
    width: 100%;
    height: 2*$space;

    .menu-isOpen & {
        height: 100vh;
    }

    &__menu {
        display: none;
        .menu-isOpen & {
            display: block;
        }
    }

    &__hamburger{
        position: absolute;
        top: $space;
        right: $space;
        background: red;

        span{
            //style wspolne
            display: block;
            height: .125 * $space;
            width: .75 * $space;
            background-color: $white;
            margin: .125 * $space;
            transition: all .3s;

            &:nth-of-type(1){
                //
            }
            &:nth-of-type(2){
                
            }
            &:nth-of-type(3){
                
            }
        }

        .menu-isOpen &{

            span:nth-of-type(1){
                transform-origin: 0 0;
                transform: rotate(45deg);
            }
            span:nth-of-type(2){
                opacity: 0;
            }
            span:nth-of-type(3){
                transform-origin: 0 100%;
                transform: rotate(-45deg);
            }


        }
    }



    // media 
}